<!DOCTYPE html>
<html>
<head><title></title>

<script src="/assets/student/changePassword.js"></script>
<link rel="stylesheet" type="text/css" href="/assets/admin/main.css">
<link rel="stylesheet" type="text/css" href="/assets/admin/profile.css">
<link rel="stylesheet" type="text/css" href="/assets/admin/bootstrap.min.css">

</head>
<body>

	<ul>
		<li><a class="active" href="/admin">Home</a></li>
		<li style="float:right"><a href="/logout">Log Out</a></li>
		<li style="float:right"><a href="/admin/support">Support</a></li>
		<li style="float:right"><a href="/admin/pending_list">Pending List</a></li>
		<li style="float:right"><a href="/admin/profile">Profile</a></li>
		<li style="float:right"><a href="/admin/admin_list">Admin List</a></li>
		<li style="float:right"><a href="/admin/teacher_list">Teacher List</a></li>
		<li style="float:right"><a href="/admin/student_list">Student List</a></li>
    </ul>


<!------ Include the above in your HEAD tag ---------->

<div class="container emp-profile">
		<form method="POST" name="changepass">
<div class="row">
	<div class="col-md-4" >
	</div>
	


<div class="col-md-3">
<br><br><br>
<div class="tab-content profile-tab" id="myTabContent">
	<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
		<div class="row">
			<div class="col-md-6">
					<label>Old Password</label>
			</div>
			<div class="col-md-6">
					<p><input type="password" name="oldPassword" onkeyup="oldPass(this)">
						<div id="wrn1"></div></p>
			</div>
		</div>
		<br>
		<div class="row">
				<div class="col-md-6">
						<label>New Password</label>
				</div>
				<div class="col-md-6">
				<p><input type="password" name="newPassword" onkeyup="newPass(this)">
					<div id="wrn2"></div></p>
				</div>
		</div>
		<br>
		<div class="row">
				<div class="col-md-6">
						<label>Repeat Password</label>
				</div>
				<div class="col-md-6">
				<p><input type="password" name="conPassword" onkeyup="newCpass(this)">
					<div id="wrn3"></div></p>
				</div>
		</div>
		<br><br>
		<input type="submit" class="login100-form-btn" value="Update" onclick = "return allOK();"/>    
	</div>
</div>
</div>


</div>
<div class="row">
<div class="col-md-4">
    <div class="profile-work">
        <p>Setting</p>
        <a href="/admin/edit_profile">Edit Profile</a><br/>
        <a href="/admin/edit_picture">Edit Picture</a><br/>
        <a href="/admin/account">Change Password</a><br/>
        <!-- <p>Extra</p>
        <a href="">####</a><br/>
        <a href="">####</a><br/>
        <a href="">####</a><br/>
        <a href="">####</a><br/>
        <a href="">####</a><br/> -->
    </div>
</div>

</div>
</form>           
</div>



</body>
</html>
