<!DOCTYPE html>
<html>
<head><title>Teacher Profile</title>

<script type="text/javascript" src="/assets/student/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/student/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="/assets/student/main.css">
<link rel="stylesheet" type="text/css" href="/assets/student/profile.css">
<link rel="stylesheet" type="text/css" href="/assets/student/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/assets/student/dropdown.css">
<link rel="stylesheet" type="text/css" href="/assets/student/search.css">
<script type="text/javascript" src="/assets/student/teacherProfile.js"></script>
</head>
<body>

    <style>
		ul {
		  list-style-type: none;
		  margin: 0;
		  padding: 0;
		  overflow: hidden;
		  background-color: #333;
		}
		
		li {
		  float: left;
		  
		}
		
		li:last-child {
		  border-right: none;
		}
		
		li a {
		  display: block;
		  color: white;
		  text-align: center;
		  padding: 14px 16px;
		  text-decoration: none;
		}
		
		li a:hover:not(.active) {
		  background-color: #111;
		}
		
		.active {
		  background-color: #4CAF50;
		}
	</style>
</head>

<body>
	<ul>
		<li><a class="active" href="/admin">Home</a></li>
		<li style="float:right"><a href="/logout">Log Out</a></li>
		<li style="float:right"><a href="/admin/pending_list">Pending List</a></li>
		<li style="float:right"><a href="/admin/profile">Profile</a></li>
		<li style="float:right"><a href="/admin/admin_list">Admin List</a></li>
		<li style="float:right"><a href="/admin/teacher_list">Teacher List</a></li>
		<li style="float:right"><a href="/admin/student_list">Student List</a></li>
		<li style="float:right"><a href="/admin/search">Search</a></li>
	</ul>

<form name="teacherProfile">

<div class="container">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <div class="input-group">
                <input class="form-control" placeholder="Search by Teacher's ID . . ." 
                 name="search" id="tsearch" type="text">
                <div class="input-group-btn">
                <input id="searchbtn" type = 'button' value = 'Search' />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container emp-profile" id='getall'></div>



</form>
</body>
</html>
