body{
  height: 100%;
  margin: 0;
  padding: 0;
  /* position:absolute;
  top:0;
  bottom:0;
  right:0;
  left:0; */
}
#container1{
  float: left;
  width: 100%;
  color: white;
  background-color: #24292E;
  height:100px;
  font-size: 25px;
  font-family:Josefin Sans;
}

#tlt{
  font-family:Amaranth;
  text-align: center;
  color:#05386B
}

/* =============================table_data_Tag================================================== */
td {
  font-family:Josefin Sans;
  font-size:35px;
  color:#05386B
}
th {
  font-family:Josefin Sans;
  font-size:35px;
  color:#05386B
}

/* =============================Input_Text================================================== */
input {
  font-family:Josefin Sans Light;
  font-size:30px;
  color:#05386B
}

/* =============================Submit_Button================================================== */

input[type=submit] {
  font-family:Josefin Sans;
  font-size:25PX;
  background-color:#8EE4AF ;
  color:#05386B;
  width: 250px;
  height: 40px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
input[type=submit] {
  background-color: white;
  color: #05386B;
}
input[type=submit]:hover {
  background-color: #24292E;
  color: white;
}
/* =============================Warning_div_Tag================================================== */
div {
  display:inline;
  font-size:20px;
  color:#b30000
}
/* =============================Drop-down List================================================== */
select {
  font-family:Josefin Sans;
  color:#05386B ;
  font-size:30px;
}
