<!DOCTYPE html>
<html>
<head>
	<title>teacher Page</title>
</head>
<body>

<h1>Welcome teacher, <%=userId%></h1> 

	<a href="/teacher/profile">Profile</a> |
	<a href="/teacher/adduser">Add User</a> |
	<a href="/teacher/userlist">User List</a> |
	<a href="logout">logout</a> 

</body>
</html>