<!DOCTYPE html>
<html>
<head><title>Edit Info | Online Exam</title>

<script type="text/javascript" src="edit.js"></script>

<link rel="stylesheet" type="text/css" href="edit.css">

</head>
<body>
<form name="editForm" >

<div id="container1">
	<h1>Online Exam</h1>
</div>

<br/>
	<h1 id="tlt">EDIT PERSONAL INFO</h1>
<br/>

<table  align="center" >
	<tr>
		<td>
			Full Name &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp:
			<input type ="text" name="fname" onkeyup="checkFN(this)" />
			<div id="wrn1"></div>
			<br/><br/>

			Username &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp:
			<input type ="text" name="uname" onkeyup="checkUN(this)" />
			<div id="wrn2"></div>
			<br/><br/>

			DOB	&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp:
			<select name="day" onclick="checkDOB(this)" >
			<option value="day"  selected>Day</option>
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
			<option value="6">6</option>
			<option value="7">7</option>
			<option value="8">8</option>
			<option value="9">9</option>
			<option value="10">10</option>
			<option value="11">11</option>
			<option value="12">12</option>
			<option value="13">13</option>
			<option value="14">14</option>
			<option value="15">15</option>
			<option value="16">16</option>
			<option value="17">17</option>
			<option value="18">18</option>
			<option value="19">19</option>
			<option value="20">20</option>
			<option value="21">21</option>
			<option value="22">22</option>
			<option value="23">23</option>
			<option value="24">24</option>
			<option value="25">25</option>
			<option value="26">26</option>
			<option value="27">27</option>
			<option value="28">28</option>
			<option value="29">29</option>
			<option value="30">30</option>
			<option value="31">31</option>
			</select>

			<select name="month" onclick="checkDOB(this)" >
			<option value="month"  selected>Month</option>
			<option value="January">January</option>
			<option value="February">February</option>
			<option value="March">March</option>
			<option value="April">April</option>
			<option value="May">May</option>
			<option value="June">June</option>
			<option value="July">July</option>
			<option value="August">August</option>
			<option value="September">September</option>
			<option value="October">October</option>
			<option value="November">November</option>
			<option value="December">December</option>
			</select>

			<select name="year" onclick="checkDOB(this)">
			<option value="year" selected>Year</option>
			<option value="2019">2018</option>
			<option value="2018">2018</option>
			<option value="2017">2017</option>
			<option value="2016">2016</option>
			<option value="2015">2015</option>
			<option value="2014">2014</option>
			<option value="2013">2013</option>
			<option value="2012">2012</option>
			<option value="2011">2011</option>
			<option value="2010">2010</option>
			<option value="2009">2009</option>
			<option value="2008">2008</option>
			<option value="2007">2007</option>
			<option value="2006">2006</option>
			<option value="2005">2005</option>
			<option value="2004">2004</option>
			<option value="2003">2003</option>
			<option value="2002">2002</option>
			<option value="2001">2001</option>
			<option value="2000">2000</option>
			<option value="1999">1999</option>
			<option value="1998">1998</option>
			<option value="1997">1997</option>
			<option value="1996">1996</option>
			<option value="1995">1995</option>
			<option value="1994">1994</option>
			<option value="1993">1993</option>
			<option value="1992">1992</option>
			<option value="1991">1991</option>
			<option value="1990">1990</option>
			</select>
			<div id="wrn3"></div>
			<br/><br/>

			Email Address &nbsp&nbsp&nbsp&nbsp&nbsp:
			<input type ="text" name="mail" onkeyup="checkMAIL(this)" />
			<div id="wrn6"></div>
			<br/><br/>

			Phone Number &nbsp&nbsp&nbsp&nbsp:
			<input type ="text" name="phone" onkeyup="return checkPHONE(this)" />
			<div id="wrn7"></div>
			<br/><br/>

			New Password &nbsp&nbsp&nbsp&nbsp&nbsp:
			<input type ="password" name="pass" onkeyup="checkPASS(this)" />
			<div id="wrn8"></div>
			<br/><br/>

			Confirm Password :
			<input type ="password" name="cpass" onkeyup="checkCPASS(this)" />
			<div id="wrn9"></div>
			<br/><br/>

			Select image to upload :
			<br/>
			<input type="file" name="fileToUpload1" onchange="checkupFile(this)"
			style="font-family:Josefin Sans;font-size:20px;color:#05386B">
			<div id="wrn10" ></div>
			<br/><br/>

			<input type="submit" name="register" value="SAVE CHANGES" onclick = "return allOK();"  />

		</td>
	</tr>
</table>

</form>
</body>
</html>
