<!DOCTYPE html>
<html>
<head>
	<title>teacherHome Page</title>
</head>
<body>

<h1>Welcome teacherHome, <%=name%></h1> 

	<a href="/teacherHome/profile">Profile</a> |
	<a href="/teacherHome/adduser">Add User</a> |
	<a href="/teacherHome/userlist">User List</a> |
	<a href="logout">logout</a> 

</body>
</html>