<!DOCTYPE html>
<html>
<head>
	<title>test</title>
</head>
<body>
	<h1> Profile Page</h1>  
	<a href="/home">Back</a> |
	<a href="/logout">logout</a>

	<table width="300px" >
		<tr>
			<td width="35%">Name</td>
			<td width="2%">:</td>
			<td><%=username%></td>
		</tr>
		<tr>
			<td>Password</td>
			<td width="2%">:</td>
			<td><%=password%></td>
		</tr>
		<tr>
			<td>Type</td>
			<td width="2%">:</td>
			<td><%=type%></td>
		</tr>
	</table>

</body>
</html>