<!DOCTYPE html>
<html>
<head><title>Online Exam Project</title>

<link rel="stylesheet" type="text/css" href="/assets/landingPage/landingPage.css">

</head>
<body>
<form name="landingPage" >

<div id="container1">
	<ol>
		<img src="/assets/landingPage/test.png" class="logo" alt="" title=""/>
		<a href="/">Home</a>
		<a>Features</a>
		<a>Solutions</a>
		<a>Help</a>
		<a>Contact</a>
		<a href="/signup">Register</a>
		<a href="/login">Login</a>
	</ol>
</div>

<div id="container2">
	<div id="container22">
			<h1 style="font-size:80px ;">Online Exam Portal</h1>
	</div>



</div>



</form>
</body>
</html>
