<!DOCTYPE html>
<html>
<head><title>Profile|Student|Online Exam Portal</title>

<script src="/assets/student/changePassword.js"></script>
<link rel="stylesheet" type="text/css" href="/assets/student/main.css">
<link rel="stylesheet" type="text/css" href="/assets/student/profile.css">
<link rel="stylesheet" type="text/css" href="/assets/student/bootstrap.min.css">

</head>
<body>

<ul>
    <li><a href="/student">Home</a></li>
    <li style="float:right"><a href="/logout">Log Out</a></li>
    <li style="float:right"><a href="/student/profile">Profile</a></li>
    <img src="<%=S_IMAGE%>" style="border-radius: 50%;width:50px;height:50px;float:right">
</ul>


<!------ Include the above in your HEAD tag ---------->

<div class="container emp-profile">
		<form method="POST" name="CPASS">
<div class="row">
	<div class="col-md-4" >
	</div>
	<div class="col-md-4">
		<div class="profile-head">
			<h5>
				<%=S_NAME%>
			</h5>
			<h6>
				STUDENT
			</h6>	
		</div>
	</div>

</div>
<div class="row">
<div class="col-md-4">
    <div class="profile-img">
        <img src="<%=S_IMAGE%>" alt="image" title="myPicture" />
    </div>
</div>
<div class="col-md-3">
<br><br><br>
<div class="tab-content profile-tab" id="myTabContent">
	<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
		<div class="row">
			<div class="col-md-6">
					<label>Ols Password</label>
			</div>
			<div class="col-md-6">
					<p><input type="password" name="oldPassword" onkeyup="oldPass(this)">
						<div id="wrn1"></div></p>
			</div>
		</div>
		<br>
		<div class="row">
				<div class="col-md-6">
						<label>New Password</label>
				</div>
				<div class="col-md-6">
				<p><input type="password" name="newPassword" onkeyup="newPass(this)">
					<div id="wrn2"></div></p>
				</div>
		</div>
		<br>
		<div class="row">
				<div class="col-md-6">
						<label>Repeat Password</label>
				</div>
				<div class="col-md-6">
				<p><input type="password" name="conPassword" onkeyup="newCpass(this)">
					<div id="wrn3"></div></p>
				</div>
		</div>
		<br><br>
		<input type="submit" class="login100-form-btn" value="Update" onclick = "return allOK();"/>    
	</div>
</div>
</div>


</div>
<div class="row">
<div class="col-md-4">
    <div class="profile-work">
        <p>Setting</p>
        <a href="/student/editProfile">Edit Profile</a><br/>
        <a href="/student/editPicture">Edit Picture</a><br/>
        <a href="/student/changePassword">Change Password</a><br/>
        <!-- <p>Extra</p>
        <a href="">####</a><br/>
        <a href="">####</a><br/>
        <a href="">####</a><br/>
        <a href="">####</a><br/>
        <a href="">####</a><br/> -->
    </div>
</div>

</div>
</form>           
</div>



</body>
</html>
