<!DOCTYPE html>
<html>
<head><title>Home|Student|Online Exam Portal</title>

<link rel="stylesheet" type="text/css" href="/assets/student/main.css">

</head>
<body>
<form name="studentHome" >

<div id="container1">
	
	<ol>
		<span>Welcome Home, <%=userId%></span>
		<ol>&nbsp;</ol>
		<a href="/login" style="color:white">Logout</a>
	</ol>
</div>


<!-- <div id="container1" align="right">
	<span align="right">Welcome Home, <%=userId%><span></span>
	<br/>
	<a href="/login" style="color:white">Logout</a>
</div> -->




</form>
</body>
</html>
