<!DOCTYPE html>
<html>
<head><title>Home|Student|Online Exam Portal</title>

<link rel="stylesheet" type="text/css" href="/assets/student/main.css">

</head>
<body>
<form name="studentHome" method="POST" >

	<ul>
		<li><a class="active" href="/student">Home</a></li>
		<li style="float:right"><a href="/logout">Log Out</a></li>
		<li style="float:right"><a href="/student/support">Support</a></li>
		<li style="float:right"><a href="/student/profile">Profile</a></li>
		<li style="float:right"><a href="">Teacher</a></li>
		<li style="float:right"><a href="">Profile</a></li>
		<li style="float:right"><a href="">Profile</a></li>

	</ul>




</form>
</body>
</html>
