<!DOCTYPE html>
<html>
<head><title>Support|Student|Online Exam Portal</title>

<script type="text/javascript" src="/assets/student/support.js"></script>
<link rel="stylesheet" type="text/css" href="/assets/student/main.css">

</head>
<body>
    
	<ul>
        <li><a class="active" href="/student">Home</a></li>
        <li>&nbsp;</li>
		<li style="float:right"><a href="/logout">Log Out</a></li>
		<li style="float:right"><a href="/student/support">Support</a></li>
		<li style="float:right"><a href="/student/profile">Profile</a></li>
    </ul>
    
	<div class="container-login100">
            <form name="studentSupport" method="POST">
    
                <div class="wrap-input100 validate-input">
                    <input class="input100" type="text" name="supportText" placeholder="Type complaints here" 
                    onkeyup="checkBox(this)"/>
                
                    <div id="wrn1"></div>
                    <span class="focus-input100"></span>
                </div>
    
                <div class="container-login100-form-btn">
                    <input class="login100-form-btn" type="submit" value="Send" onclick = "return allOK();"/>
                </div>
            </form>
        </div>
</body>
</html>
